.navbar {
  height: 60px;
  background-color: #fff;
  width: calc(100vw - 80px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  display: flex;
  justify-content: flex-end; }
  .navbar ul {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px; }
    .navbar ul li {
      list-style: none;
      width: 50px;
      margin: 2px; }
      .navbar ul li ion-icon {
        font-size: 30px;
        padding: 10px; }
        .navbar ul li ion-icon:hover {
          background-color: #cecece;
          border-radius: 50px; }
      .navbar ul li img {
        width: 40px;
        object-fit: contain;
        border-radius: 50px; }
